/* ===========================
--- Footer
============================ */

footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-top: @padding-top;
  padding-bottom: @padding-bottom;
  background-color: #67b0d1;
}

footer p {
  color: #f8f8f8;
}


// Social links
.company-social {
  margin-left: 0;
  padding-left: 0;
  margin-top: 10px;
}

.company-social {
  text-align: center;
}

.company-social li{
  display: inline-block;
  margin:0 !important;
  padding:0;
}

.company-social a{
  margin:0;
  padding:0;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #3bbec0;
  color: #fff;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.company-social a i{
  text-align: center;
  margin:0;
  padding:0;
}

.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-github a:hover{background: #82e6ff;}
